<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>

    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyB7mpzrP7Zw0hy18rSTANSFvD2eHqH2h5M",
            authDomain: "projeto-5239c.firebaseapp.com",
            databaseURL: "https://projeto-5239c.firebaseio.com",
            projectId: "projeto-5239c",
            storageBucket: "projeto-5239c.appspot.com",
            messagingSenderId: "186926542206",
            appId: "1:186926542206:web:3914ead8b8aab1973ad72f"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

</head>

<body class="d-flex flex-column h-100">

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Plataforma de Monitorização de Veículos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Página Principal <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/utilizadores">Utilizadores <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/veiculos">Veiculos <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <span class="nav-link disable" id="utilizador"></span>
                <button class="btn btn-outline-success my-2 my-sm-0" onclick="logout()">Logout</button>
            </div>
        </nav>
    </header>

    <main role="main" class="flex-shrink-0">
        <div class="container-fluid">
            <div style="margin-top: 80px; width: 650px; height: 700px; position: relative; float: left;"
                id="map_div_admin"></div>
            <div id="bar_chart"
                style="margin-top: 80px; margin-left: 10px; width: 640px; height: 300px; position: relative; float: left;">
            </div>
           <!--  <div id="bar_chart_condutores"
                style="margin-top: 80px; margin-left: 10px; width: 640px; height: 300px; position: relative; float: left;">
            </div> -->
    </main>
</body>

<script>
    firebase.auth().onAuthStateChanged(function (user) {

        if (user) {

            var user = firebase.auth().currentUser;

            var email = user.email;
            document.getElementById("utilizador").innerHTML = email;
            alert("Bem-vindo " + email);
            var latlng = [];
            var i;
            var Veiculos = firebase.database().ref('/Veiculos');
            Veiculos.once('value', function (dados) {
                dados.forEach(function (childDados) {
                    var matricula = childDados.key;
                    var condutor = childDados.child("Última Localização").child("Condutor").val();
                    var latitude = childDados.child("Última Localização").child("latitude").val();
                    var longitude = childDados.child("Última Localização").child("longitude").val();
                    if (childDados.child("Última Localização").exists()) {
                        L.marker([latitude, longitude]).addTo(mymap).bindPopup("<b>Veiculo: </b>" + matricula + "<br/><b>Condutor: </b>" + condutor).openPopup();
                        latlng.push([latitude, longitude]);
                        var markerBounds = L.latLngBounds(latlng);
                        mymap.fitBounds(markerBounds);
                        i++;
                    }
                });
            });
            if (i == 0) {
                window.alert("Não existem veiculos com viagens!");
            }
        } else {
            window.alert("No user logged");
            window.location = '/';
        }
    });

    var mymap = L.map('map_div_admin').setView([1, 1], 10);;

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiODExMDQxMiIsImEiOiJja2FndjNseXIwMmFnMzZ0aWZkZzJ2NXZ0In0.26eWZfSrEKchdsxDNeUcvg', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(mymap);

    function logout() {
        firebase.auth().signOut().then(function () {
            // Sign-out successful.
        }).catch(function (error) {
            // An error happened.
        });
    }
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Veículo');
        data.addColumn('number', 'Número de Encomendas');

        var array = [];

        firebase.auth().onAuthStateChanged(function (user) {

            var Veiculos = firebase.database().ref('Veiculos/');

            Veiculos.once('value', function (dados) {
                dados.forEach(function (childDados) {
                    var cont = 0;
                    childDados.forEach(function (data) {
                        if (data.key.length == 10) {
                            data.child("Encomendas").forEach(function (encomenda) {
                                if (encomenda.child("Entregue").val() == "Sim") {
                                    cont++;
                                }
                            });
                        }
                    });
                    array.push([childDados.key, cont]);
                });

                data.addRows(array);

                var options = {
                    title: 'Encomendas entregues por veículo',
                    chartArea: { width: '50%' },
                    hAxis: {
                        title: 'Nº Encomendas entregues',
                        minValue: 0
                    },
                    vAxis: {
                        title: 'Matricula'
                    },
                    backgroundColor: '#f1f8e9'
                };
                var chart = new google.visualization.BarChart(document.getElementById('bar_chart'));

                chart.draw(data, options);
            });
        });
    }
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Veículo');
        data.addColumn('number', 'Número de Encomendas');

        var array = [], condutores = [];

        firebase.auth().onAuthStateChanged(function (user) {

            var Veiculos = firebase.database().ref('Veiculos/');
            var condutor, c = 0;

            Veiculos.once('value', function (dados) {
                dados.forEach(function (childDados) {
                    var cont = 0;
                    childDados.forEach(function (data) {
                        if (data.key.length == 10) {
                            if (condutor == data.child("Condutor").val()) {
                                console.log("nao adicionou");
                            } else {
                                for (var i = 0; i < condutores.length; i++) {
                                    if (condutores[i] = !condutor) {
                                        condutores.push([data.child("Condutor").val()]);
                                        condutor = data.child("Condutor").val();
                                        console.log("adicionou");
                                    }
                                }
                            }
                        }
                    });
                });
            });
            Veiculos.once('value', function (dados) {
                dados.forEach(function (childDados) {
                    var cont = 0;
                    childDados.forEach(function (data) {
                        for (var i = 0; i < condutores.length; i++) {
                            if (condutores[i] == data.child("Condutor").val()) {
                                if (data.key.length == 10) {
                                    data.child("Encomendas").forEach(function (encomenda) {
                                        if (encomenda.child("Entregue").val() == "Sim") {
                                            cont++;
                                        }
                                    });
                                }
                            }
                            c = c + cont;
                            //console.log(condutores[i]);
                            //console.log(c);
                            array.push([condutores[i], c]);
                        }
                    });
                });

                data.addRows(array);

                var options = {
                    title: 'Encomendas entregues por Condutor',
                    chartArea: { width: '50%' },
                    hAxis: {
                        title: 'Nº Encomendas entregues',
                        minValue: 0
                    },
                    vAxis: {
                        title: 'Condutor'
                    },
                    backgroundColor: '#f1f8e9'
                };
                var chart = new google.visualization.BarChart(document.getElementById('bar_chart_condutores'));

                chart.draw(data, options);
            });
        });
    }
</script>

</html>