<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-app.js"></script>

  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>

  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyB7mpzrP7Zw0hy18rSTANSFvD2eHqH2h5M",
      authDomain: "projeto-5239c.firebaseapp.com",
      databaseURL: "https://projeto-5239c.firebaseio.com",
      projectId: "projeto-5239c",
      storageBucket: "projeto-5239c.appspot.com",
      messagingSenderId: "186926542206",
      appId: "1:186926542206:web:3914ead8b8aab1973ad72f"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Plataforma de Gestão de frotas</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/profile">PROFILE</a></li>
          <li onclick="logout()"><a href="/">LOGOUT</a></li>
        </ul>
      </div>
      <div class="utilizador">
        <p>Utilizador <p id="utilizador"></p>
        </p>
        </ul>
      </div>
    </div>
  </nav>

  <h3>As minhas viagens</h3>
  <h4 id="mensagem"></h4>
  <table id="table">
    <tr>
      <th>&numsp;</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th>Detalhes</th>
    </tr>
    <tr>
      <td id="num"></td>
      <td id="inicio"></td>
      <td id="fim"></td>
      <td id="detalhes"></td>
    </tr>
  </table>
</body>

<script>
  firebase.auth().onAuthStateChanged(function (user) {

    if (user) {

      var user = firebase.auth().currentUser;

      var email = user.email;
      document.getElementById("utilizador").innerHTML = email;
      alert("Bem-vindo " + email);

      var email1 = email.replace(".", "-");
      var Viagens = firebase.database().ref('/Utilizadores/' + email1);

      Viagens.on('value', function (dados) {
        var existe = dados.exists();
        if (existe == true) {
          dados.forEach(function (childDados) {
            var c = 1;
            childDados.forEach(function (detalhes) {
              var childKey = detalhes.key,
                datainicio = detalhes.val().start,
                datafim = detalhes.val().end,
                di = new Date(datainicio),
                df = new Date(datafim);
              document.getElementById('num').innerHTML += "<p id='t'>" + c + "</p>";
              c++;
              document.getElementById('inicio').innerHTML += "<p id='t'>" + di.toUTCString() + "</p>";
              document.getElementById('fim').innerHTML += "<p id='t'>" + df.toUTCString() + "</p>";
              document.getElementById('detalhes').innerHTML += "<p id='t'><a href='/profile/viagem/" + childKey + "'>Ver Detalhes<a/></p>";
            });
          });
        } else {
          document.getElementById('mensagem').innerHTML = "Não existem viagens";
          document.getElementById('table').style.visibility = "hidden";
        }
      });
    } else {
      window.alert("No user logged");
      window.location = '/';
    }
  });

  function logout() {
    firebase.auth().signOut().then(function () {
      // Sign-out successful.
    }).catch(function (error) {
      // An error happened.
    });
  }
</script>

</html>