<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>

    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyB7mpzrP7Zw0hy18rSTANSFvD2eHqH2h5M",
            authDomain: "projeto-5239c.firebaseapp.com",
            databaseURL: "https://projeto-5239c.firebaseio.com",
            projectId: "projeto-5239c",
            storageBucket: "projeto-5239c.appspot.com",
            messagingSenderId: "186926542206",
            appId: "1:186926542206:web:3914ead8b8aab1973ad72f"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

</head>

<body class="d-flex flex-column h-100">

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Plataforma de Monitorização de Veículos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Perfil <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <span class="nav-link disable" id="utilizador"></span>
                <button class="btn btn-outline-success my-2 my-sm-0" onclick="logout()">Logout</button>
            </div>
        </nav>
    </header>

    <main role="main" class="flex-shrink-0">
        <div class="container-fluid">
            <div style="margin-top: 80px;">
                <elem style="font-weight: bold;">Utilizador: </elem>
                <elem id="Utilizador"></elem>
            </div>
            <div style="margin-top: 20px;">
                <elem style="font-weight: bold;">Matricula: </elem>
                <elem id="matricula"></elem>
            </div>
            <h3 style="margin-top: 30px;">Última Localização</h3>
            <h4 id="mensagem"></h4>
            <table id="table" class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">&numsp;</th>
                        <th scope="col">Morada</th>
                        <th scope="col">Altitude</th>
                        <th scope="col">Latitude</th>
                        <th scope="col">Longitude</th>
                        <th scope="col">Velocidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" id="num"></th>
                        <td id="morada"></td>
                        <td id="altitude"></td>
                        <td id="latitude"></td>
                        <td id="longitude"></td>
                        <td id="velocidade"></td>
                    </tr>
                </tbody>
            </table>
            <div style="margin-top: 50px; width: 400px; height: 400px; margin-bottom: 50px;" id="map_div"></div>
        </div>
    </main>
</body>

<script>

    const emailRecebido = '<%= emailRecebido %>';
    document.getElementById("Utilizador").innerHTML = emailRecebido;
    firebase.auth().onAuthStateChanged(function (user) {

        if (user) {

            var user = firebase.auth().currentUser;

            var email = user.email;
            document.getElementById("utilizador").innerHTML = email;

            var emailUtilizador = emailRecebido.replace(".", "-");

            var latitude;
            var longitude;
            var Veiculos = firebase.database().ref('/Veiculos');
            Veiculos.once('value', function (dados) {
                dados.forEach(function (childDados) {
                    document.getElementById("matricula").innerHTML = childDados.key;
                    var condutor = childDados.child("Condutor").val();
                    if (condutor == emailRecebido) {
                        document.getElementById("latitude").innerHTML = childDados.child("Última Localização").child("latitude").val();
                        document.getElementById("longitude").innerHTML = childDados.child("Última Localização").child("longitude").val();
                        document.getElementById("morada").innerHTML = childDados.child("Última Localização").child("morada").val();
                        //console.log(childDados.child("Última Localização").child("latitude").val());
                        latitude = childDados.child("Última Localização").child("latitude").val();
                        longitude = childDados.child("Última Localização").child("longitude").val();
                        L.marker([latitude, longitude]).addTo(mymap).bindPopup("<b>Morada:</b><br />" + childDados.child("Última Localização").child("morada").val()).openPopup();
                    }
                });
            });
        } else {
            window.alert("No user logged");
            window.location = '/';
        }
    });

    var mymap = L.map('map_div').setView([51.505, -0.09], 13);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiODExMDQxMiIsImEiOiJja2FndjNseXIwMmFnMzZ0aWZkZzJ2NXZ0In0.26eWZfSrEKchdsxDNeUcvg', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiODExMDQxMiIsImEiOiJja2FndjNseXIwMmFnMzZ0aWZkZzJ2NXZ0In0.26eWZfSrEKchdsxDNeUcvg'
    }).addTo(mymap);

    function logout() {
        firebase.auth().signOut().then(function () {
            // Sign-out successful.
        }).catch(function (error) {
            // An error happened.
        });
    }
</script>

</html>