body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
}

.login {
  width: 300px;
  margin: 0 auto;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.login h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}

.login input[type="password"],
		.login input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}

    .login button[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}

		.container-fluid {
			padding-top: 70px;
			padding-bottom: 70px;
		}

		.navbar {
			padding-top: 15px;
			padding-bottom: 15px;
			border: 0;
			border-radius: 0;
			margin-bottom: 0;
			font-size: 12px;
			letter-spacing: 5px;
		}
		.navbar-nav  li a:hover {
			color: #1abc9c !important;
		}

.bemvindo {
	padding-top: 50px;
	font-size: 25px;
	color: #ffffff;
}

table {
	width: 100%;
	border: 1px solid black;
	margin-top: 30px;
	border-collapse: collapse;
}

#t:hover{background-color: #f5f5f5;}

.utilizador {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	padding-left: 25px;
}

.utilizador:hover{
	color: #1abc9c;
}

#viagensUtilizador:hover{
	color: #1abc9c;
}

a:link {
	color: red;
  }
  
  /* visited link */
  a:visited {
	color: mediumaquamarine;
  }
  
  /* mouse over link */
  a:hover {
	color: black;
  }
  
  /* selected link */
  a:active {
	color: blue;
  }

  #t {
	  border-bottom: 1px solid black;
	  padding: 10px;
	  min-height: 50px;
  }

  footer {
	padding: 50px;
	margin-top: 100px;
	text-align: center;
	border-top: 1px solid white;
	min-height: 50px;
	flex-shrink: 0;
  }

  #map_div {
	margin-top: 50px;
	width: auto;
	height: 500px;
	margin-bottom: 50px;
  }

  #viagensUtilizador {
	  text-align: center;
  }