body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
}

.login {
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}

.login h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}

.login input[type="password"],
		.login input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}

    .login button[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}

		.container-fluid {
			padding-top: 70px;
			padding-bottom: 70px;
		}

		.navbar {
			padding-top: 15px;
			padding-bottom: 15px;
			border: 0;
			border-radius: 0;
			margin-bottom: 0;
			font-size: 12px;
			letter-spacing: 5px;
		}
		.navbar-nav  li a:hover {
			color: #1abc9c !important;
		}

a {
  color: #00B7FF;
}

.bemvindo {
	padding-top: 50px;
	font-size: 25px;
	color: #ffffff;
}

table {
	width: 50%;
	border: 1px solid black;
	margin-top: 30px;
}

th, td {
	border: 1px solid black;
}

p:nth-child(even) {
	background-color: #dddddd;
}